/*.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3,100px);
  height: 350px;
  width: 00px;
  grid-gap: 10px;
  grid-template-areas: 
    "a a b"
    "a a b"
    "c d d";
  align-content: end;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}*/
/*.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3,100px);
  height: 500px;
  width: 500px;
  grid-gap: 250px;
  grid-template-areas: 
    "a a b"
    "a a b";
  align-content: space-between;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
/*.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}*/



section.flat button {
  color: #fff;
  background-color: #312CD7;
  text-shadow: -1px 1px #312CD7;
  border: none;
}

section.flat button:hover,
section.flat button.hover {
  background-color: #312CD7;
  text-shadow: -1px 1px #312CD7;
}

section.flat button:active,
section.flat button.active {
  background-color: #312CD7;
  text-shadow: -1px 1px #312CD7;
}

